# Before running brew bundle run brew tap Homebrew/bundle
#https://github.com/Homebrew/homebrew-bundle
tap "homebrew/bundle"
brew "fzf"
brew "gh"
brew "neovim"
brew "nmap"
brew "ripgrep"
brew "golang"
brew "mage"
brew "jq"
brew "asdf"
brew "httpie"
brew "chezmoi"
brew "awscli"
brew "aws-vault"
brew "poetry"
brew "kubectl"
brew "k9s"
cask "orbstack"
cask "flameshot"
cask "signal"
cask "brave-browser"
{{ if eq .chezmoi.os "darwin" }}
brew "wget"
brew "git"
brew "coreutils"
brew "automake"
brew "autoconf"
brew "openssl"
brew "curl"
brew "openssh"
brew "tmux"
{{ end }}