# Before running brew bundle run brew tap Homebrew/bundle
#https://github.com/Homebrew/homebrew-bundle
tap "homebrew/cask"
tap "homebrew/bundle"
tap "homebrew/core"
brew "ansible"
brew "ansible-lint"
brew "git"
brew "tmux"
brew "fzf"
brew "wget"
brew "vim"
brew "neovim"
brew "nmap"
brew "coreutils"
brew "automake"
brew "autoconf"
brew "openssl"
brew "curl"
brew "ripgrep"
brew "golang"
brew "mage"
brew "jq"
brew "asdf"
brew "pipenv"
brew "node"
brew "pulumi"
brew "openssh"
cask "vagrant"
cask "virtualbox"
