[edit]
    command = "code"
    args = ["--wait"]
[git]
    autoCommit = true
    autoPush = true
[data]
    {{ if eq .chezmoi.hostname "LOOP-X6HVQQ0KVM" }}
    	email = "bensebastian@loopreturns.com"
    {{ else }}
	email = "ben.sebastian@protonmail.com"
    {{ end }}
