[edit]
    command = "code"
    args = ["--wait"]
[git]
    autoCommit = true
    autoPush = true
[data]
    email = "ben.sebastian@protonmail.com"
    {{ if eq .chezmoi.hostname "LOOP-G3Q0RM9L0W" }}
    	email = "bensebastian@loopreturns.com"
    {{ end }}
